* {
    font-family: "Times New Roman", Times, serif !important;
}

section[data-testid="stSidebar"]{
    background:#EEF6FF;
}

/* Background */
.main {
    background-color: #f5f7fb;
}

/* Judul */
.main-title{
    font-size:38px;
    font-weight:bold;
    margin-bottom:5px;
}

.sub-title{
    font-size:18px;
    margin-bottom:30px;
}

/* Card */
.card{

    background:transparent;

    border:none;
    
    border-radius:0;

    box-shadow:none;
    
    padding:0;

    box-shadow:0;

    margin-bottom:20px;

}

.progress-bar{
    width:100%;
    height:10px;
    background:#e5e7eb;
    border-radius:999px;
    overflow:hidden;
}

.progress-fill{
    height:100%;
    background:#2563eb;
    border-radius:999px;
}

.progress-text{
    display:flex;
    justify-content:space-between;
    font-weight:600;
    margin-bottom:6px;
}